@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Purchase/RefundIndex"><i class="fa fa-dashboard"></i>综合查询</a></li>
            </ol>
        </div>
        <div class="box-body">

            <div class="row" style="margin-bottom:10px;" slot="customSearch">
                <div class="col-xs-3 col-sm-2">
                    <input class="form-control" v-model="table.args.code" placeholder="单号" debounce="500" />
                </div>

                <div class="col-xs-3 col-sm-2">
                    <store-selector v-model="table.args.storeId" placeholder="门店"></store-selector>
                </div>

                @*<div class="col-xs-3 col-sm-2">
                        <input class="form-control" v-model="table.args.snCode" placeholder="串码" debounce="500" />
                    </div>*@

                <div class="col-xs-3 col-sm-2">
                    <brand-selector v-model="table.args.brandId" placeholder="品牌" ref="brandtable"></brand-selector>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <category-selector v-model="table.args.categoryId" placeholder="品类"></category-selector>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <product-selector v-model="table.args.ProductCodeOrBarCode" placeholder="商品" ref="producttable"></product-selector>
                </div>

            </div>
            <div class="row" style="margin-bottom:10px;" slot="customSearch">
                <div class="col-xs-3 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        <el-select name="status" v-model="table.args.status">
                            <el-option value="-1">-请选择-</el-option>
                            @foreach (var item in ViewBag.Status)
                            {

                                <el-option key="@item.Key" value="@item.Key" label="@item.Value"></el-option>
                            }
                        </el-select>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">单据类型</span>
                        <el-select name="status" v-model="table.args.orderType">
                            <el-option value="">-请选择-</el-option>
                            @foreach (var item in ViewBag.OrderType)
                            {
                                //<option value="@item.Key">@item.Value</option>
                                <el-option key="@item.Key" value="@item.Key" label="@item.Value"></el-option>
                            }
                        </el-select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">业务类型</span>
                        <el-select name="billType" v-model="table.args.billType">
                            <el-option value="">-请选择-</el-option>
                            @foreach (var item in ViewBag.BillTypes)
                            {

                                <el-option key="@item.Key" value="@item.Key" label="@item.Value"></el-option>
                            }
                        </el-select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">制单人</span>
                        <el-select name="creater" v-model="table.args.creater">
                            <el-option value="0">-请选择-</el-option>
                            @foreach (var item in ViewBag.Creater)
                            {

                                <el-option key="@item.Key" value="@item.Key" label="@item.Value"></el-option>
                            }
                        </el-select>
                    </div>
                </div>


                <div class="col-xs-3 col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon">选择时间</span>
                        <el-date-picker v-model="table.args.time" value-format="yyyy-MM-dd" type="daterange" range-separator="—" start-placeholder="开始日期" end-placeholder="结束日期">
                        </el-date-picker>
                    </div>

                </div>

            </div>
            <div class="row" style="margin-bottom:10px;" slot="customSearch">
                <div class="col-xs-3 col-sm-2">
                    <el-input v-model="table.args.SapCode" placeholder="SAP单号" clearable></el-input>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <supplier-selector v-model="table.args.supplierId" placeholder="供应商" ref="suppliertable"></supplier-selector>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <el-select v-model="table.args.IsPushSap" placeholder="推SAP" clearable>
                        <el-option key="0" label="未推送" value="false"></el-option>
                        <el-option key="1" label="成功" value="true"></el-option>
                    </el-select>
                </div>
            </div>

            <el-row class="row-bottom">
                <el-col v-bind:sm="12" v-bind:md="12">
                    <span class="input-group-btn">
                        <el-button type="primary" class="btn btn-flat" v-on:click="loadData(1)" v-bind:disabled="queryLocker">查询</el-button>
                        <el-button type="success" class="btn btn-flat" v-on:click="exportExcel" v-bind:disabled="queryLocker">导出</el-button>
                        <el-button class="btn btn-flat" v-on:click="clearQuery"><i class="fa fa-eraser"></i>清除条件</el-button>
                    </span>
                </el-col>
            </el-row>

            <el-row>
                <el-col v-bind:span="24">
                    <el-table class="form-group" ref="$table" v-bind:data="table.rows" border style="width: 100%" v-bind:height="table.height" v-bind:empty-text="table.emptyText" highlight-current-row>

                        <el-table-column type="index"></el-table-column>
                        <el-table-column prop="Code" label="采购单号" width="100"></el-table-column>
                        <el-table-column prop="ProductCode" label="商品编码" width="130"></el-table-column>
                        <el-table-column prop="ProductName" label="商品名称" width="220"></el-table-column>
                        <el-table-column prop="Quantity" label="订货数量"></el-table-column>
                        <el-table-column prop="ActualQuantity" label="已收数量"></el-table-column>
                        <el-table-column prop="BrandName" label="品牌" width="80"></el-table-column>
                        <el-table-column prop="CategoryName" label="品类" width="120"></el-table-column>
                        <el-table-column prop="StoreName" label="门店" width="240"></el-table-column>
                        <el-table-column prop="OrderTypeName" label="单据类型" width="100"></el-table-column>
                        <el-table-column prop="BillTypeName" label="业务类型" width="120"></el-table-column>
                        <el-table-column prop="Supplier" label="供应商" width="260"></el-table-column>
                        <el-table-column prop="SignalAmount" label="订货金额" width="100"></el-table-column>
                        <el-table-column prop="PurchaseOrderStatus" label="状态" width="100"></el-table-column>
                        <el-table-column prop="SapOrderId" label="SAP单号" width="100"></el-table-column>
                        <el-table-column prop="CreatedByName" label="创建人" width="100"></el-table-column>
                        <el-table-column prop="CreatedTime" label="创建时间" width="180"></el-table-column>
                        @*<el-table-column prop="Remark" label="备注" width="100"></el-table-column>
                            <el-table-column prop="IsPush" label="推送成功" width="80"></el-table-column>*@
                        <el-table-column prop="PushSap" label="推SAP" width="80">
                            <template slot-scope="scope">
                                <el-tag v-bind:type="scope.row.IsPushSap ? 'success' : 'danger'"
                                        disable-transitions>{{scope.row.PushSap}}</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="87">
                            <template slot-scope="scope">
                                <subpage-dialog type="text" text="查看" v-bind:url="'/Purchase/RefundView/'+scope.row.Id"></subpage-dialog>

                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination v-bind:current-page="table.page.pageIndex" v-bind:page-size="table.page.pageSize" v-bind:total="table.page.total"
                                   layout="total,sizes,prev,pager,next,jumper"
                                   v-on:size-change="onPageSizeChange" v-on:current-change="onPageChange" background>

                    </el-pagination>
                </el-col>
            </el-row>

        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
    <!-- modal -->

    <div id="printDiv"></div>
</div>
@section scripts{
    @*<script src="~/Scripts/jquery.PrintArea.js"></script>*@
    <script src="~/Content/vue/plugins/brand-selector/brand-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/category-selector/category-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/store-selector/store-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/product-selector/product-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/subpage-dialog/subpage-dialog.js"></script>
    <script src="~/Content/vue/plugins/supplier-selector/supplier-selector.js" type="text/javascript"></script>
    <script>

        var demo = new Vue({
            components: {

            },
            el: '#app',

            data: {
                lock: false,
                queryLocker: false,
                table: {
                    emptyText: "暂无数据",
                    height: 450,
                    rows: [],
                    args: { supplierId: '', code: '', SapCode: "", storeId: '', status: '', time: '', billType: '', ProductCodeOrBarCode: '', categoryId: '', creater: '', brandId: '', orderType: '', IsPushSap: null },
                    page: { total: 0, pageIndex: 1, pageSize: global_config.page.pageSize, IsPaging: true },
                },
                productIds: [],
                dialogVisible: false,
                selectedId: 0,
                reason: '',
            },
            methods: {

                onPageChange: function (page) {
                    this.table.page.pageIndex = page;
                    this.loadData();
                },
                onPageSizeChange: function (pageSize) {
                    this.table.page.pageSize = pageSize;
                    this.loadData(1);
                },
                clearTable: function () {
                    this.table.rows = [];
                },
                lockQuery: function (lock) {
                    this.queryLocker = lock;
                    this.table.emptyText = lock ? "Loading..." : "暂无数据";
                },

                loadData: function (pageIndex) {
                    this.clearTable();
                    this.lockQuery(true);
                    if (pageIndex)
                        this.table.page.pageIndex = pageIndex;
                    var _self = this;
                    var times = _self.table.args.time.toString();
                    var url = "/Purchase/LoadRefundData";
                    var data = Object.assign({}, _self.table.page, _self.table.args, { time: times });
                    $.get(url, data, function (result) {
                        _self.lockQuery(false);
                        if (result.success) {
                            _self.table.rows = result.data;
                            _self.table.page.total = result.total;
                        }
                        else {
                            _self.$message({
                                message: result.error,
                                type: 'error'
                            });
                        }
                    }, "Json");
                },

                exportExcel: function () {
                    this.lockQuery(true);
                    var $this = this;
                    var times = this.table.args.time.toString();
                    var data = Object.assign({}, this.table.page, this.table.args, { time: times, IsPaging: false });
                    var href = "/Purchase/LoadRefundData?toExcel=true";
                    for (var name in data) {
                        if (data[name] != null && data[name].toString() != "")
                            href += "&" + name + "=" + encodeURIComponent(data[name]);
                    }
                    window.location.href = href;
                    this.lockQuery(false);
                },

                clearQuery: function () {
                    if (this.table.args.brandId != '') {
                        this.$refs.brandtable.onClear();
                    }
                    if (this.table.args.ProductCodeOrBarCode != '') {
                        this.$refs.producttable.onClear();
                    }
                    if (this.table.args.supplierId != '') {
                        this.$refs.suppliertable.onClear();
                    }
                    this.table.args = { supplierId: '', code: '', SapCode: "", storeId: '', status: '', time: '', billType: '', ProductCodeOrBarCode: '', snCode: '', categoryId: '', creater: '', brandId: '', orderType: '', IsPushSap: null };

                },
                ShowDetial: function (row) {

                    window.location.href = "/Purchase/RefundView/" + row.Id;

                },

            },
            created: function () {
                setListPage(this.table, 335);
            },
        });
    </script>
}


