@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/Purchase/WaitedReceive"><i class="fa fa-dashboard"></i>采购单-待收货</a></li>
            </ol>
        </div>
        <div class="box-body">

            <div class="row" style="margin-bottom:10px;" slot="customSearch">
                <div class="col-xs-3 col-sm-2">
                    <input class="form-control" v-model="table.args.code" placeholder="采购单编号" debounce="500" />
                </div>

                <div class="col-xs-3 col-sm-2">
                    <store-selector v-model="table.args.storeId" placeholder="门店"></store-selector>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <input class="form-control" v-model="table.args.sapCode" placeholder="SAP单号" debounce="500" />
                </div>
                <div class="col-xs-3 col-sm-2">
                    <supplier-selector v-model="table.args.supplierId" placeholder="供应商" ref="suppliertable"></supplier-selector>
                </div>



                <div class="col-sm-2 col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">单据类型</span>
                        <el-select name="status" v-model="table.args.billType">
                            <el-option value="">-请选择-</el-option>
                            @foreach (var item in ViewBag.BillTypes)
                            {
                                //<option value="@item.Key">@item.Value</option>
                                <el-option key="@item.Key" value="@item.Key" label="@item.Value"></el-option>
                            }
                        </el-select>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-bottom:10px;" slot="customSearch">

                <div class="col-xs-4 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">选择时间</span>
                        <el-date-picker v-model="table.args.time" value-format="yyyy-MM-dd" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                        </el-date-picker>
                    </div>

                </div>

            </div>



            <el-row class="row-bottom">
                <el-col v-bind:sm="12" v-bind:md="12">
                    <span class="input-group-btn">
                        <el-button type="primary" class="btn btn-flat" v-on:click="loadData">查询</el-button>
                        <el-button class="btn btn-flat" v-on:click="clearQuery">清除条件</el-button>

                    </span>
                </el-col>
            </el-row>

            <el-row>
                <el-col v-bind:span="24">
                    <el-table class="form-group" ref="$table" v-bind:data="table.rows" border style="width: 100%" v-bind:height="table.height">

                        <el-table-column type="index"></el-table-column>
                        <el-table-column prop="CreatedTime" label="创建时间" width="100"></el-table-column>
                        <el-table-column label="采购单号" width="110">
                            <template scope="scope">
                                <a v-on:click="ShowDetial(scope.row)"> {{scope.row.Code }}</a>
                            </template>
                        </el-table-column>
                        @*<el-table-column prop="Code" label="采购单号" width="120"></el-table-column>*@
                        <el-table-column prop="StoreName" label="门店" width="150"></el-table-column>
                        <el-table-column prop="BillTypeName" label="类型" width="100"></el-table-column>
                        <el-table-column prop="Supplier" label="供应商" width="250"></el-table-column>
                        <el-table-column prop="Amount" label="订货金额" width="100"></el-table-column>
                        <el-table-column prop="PurchaseOrderStatus" label="状态" width="60"></el-table-column>
                        <el-table-column prop="SapOrderId" label="SAP单号" width="100"></el-table-column>
                        <el-table-column prop="CreatedByName" label="创建人" width="100"></el-table-column>
                        <el-table-column prop="Remark" label="备注" width="200"></el-table-column>
                    </el-table>
                    <el-pagination v-bind:current-page="table.page.pageIndex" v-bind:page-size="table.page.pageSize" v-bind:total="table.page.total"
                                   layout="total,sizes,prev,pager,next,jumper"
                                   v-on:size-change="onPageSizeChange" v-on:current-change="onPageChange" background>

                    </el-pagination>
                </el-col>
            </el-row>

        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
    <!-- modal -->


    <div id="printDiv"></div>
</div>
@section scripts{
    @*<script src="~/Scripts/jquery.PrintArea.js"></script>*@
    <script src="~/Content/vue/plugins/store-selector/store-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/supplier-selector/supplier-selector.js" type="text/javascript"></script>
    <script>

        var demo = new Vue({
            components: {

            },
            el: '#app',
            data: {

                table: {
                    height:450,
                    rows: [],
                    args: { code: '', supplierId: '', storeId: '', status: '@ViewBag.Status', time: '', billType: '', sapCode: '', orderType: @ViewBag.OrderType },
                    page: { total: 0, pageIndex: 1, pageSize: global_config.page.pageSize },

                },
                suppliers: [],
                selectDetail: {
                    modal: false,
                    items: [],
                    totalAmount: 0,
                    financeRemarks: []
                },

            },
            methods: {

                onPageChange: function (page) {
                    this.table.page.pageIndex = page;
                    this.loadData();
                },
                onPageSizeChange: function (pageSize) {
                    this.table.page.pageSize = pageSize;
                    this.loadData();
                },

                loadData: function () {

                    var _self = this;
                    var times = _self.table.args.time;
                    _self.table.args.supplierId = _self.suppliers.toString();
                    _self.table.args.storeId = _self.table.args.storeId.toString();
                    _self.table.args.time = _self.table.args.time.toString();
                    var url = "/Purchase/LoadDetailData";
                    var data = Object.assign({}, _self.table.page, _self.table.args);

                    $.get(url, data, function (result) {
                        if (result.success) {
                            _self.table.rows = result.data;
                            _self.table.page.total = result.total;
                        }
                        else {
                            _self.$message({
                                message: result.error,
                                type: 'error'
                            });
                        }
                    }, "Json");
                    _self.table.args.time = times;
                },
                clearQuery: function () {
                    this.table.args={ code: '', supplierId: '', storeId: '', status: '@ViewBag.Status', time: '', billType: '', sapCode: '', orderType: @ViewBag.OrderType };
                    this.$refs.suppliertable.onClear();
                },

                ShowDetial: function(row) {
                    var v_self = this;
                    v_self.selectDetail.modal = true;
                    window.location.href = "/Purchase/Receive/" + row.Id;
                    //加载明细
                    //$.post("/Purchase/GetDetailList", { id:  row.Id }, function (result) {
                    //    if (result.success) {
                    //        v_self.selectDetail.items = [];
                    //        v_self.selectDetail.items = result.data;
                    //        v_self.selectDetail.totalAmount = result.totalAmount;
                    //        v_self.selectDetail.modal = true;
                    //    }
                    //    else {
                    //        bootbox.alert(result.error);
                    //    }
                    //}, "json");
                },






            },
            created: function () {
                setListPage(this.table, 280 );
            },
        });
    </script>
}


